<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<script src="https://kit.fontawesome.com/1c8c066f08.js" crossorigin="anonymous"></script>
<script src="https://browser.sentry-cdn.com/5.20.1/bundle.min.js" integrity="O8HdAJg1h8RARFowXd2J/r5fIWuinSBtjhwQoPesfVILeXzGpJxvyY/77OaPPXUo" crossorigin="anonymous"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173184237-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173184237-1');
    </script>
    <meta name="google-site-verification" content="NZFED8x1eeHzEYAhHPT7GMjw7dgvbcl_EPNWLS4LawI">
    <title>Start Normal!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="{% url 'index' %}"><img class="d-inline-block mr-1" src='{% static "app/logo.png" %}'></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div id="content" class='container'>
      <div class='jumbotron'>
        <h1>Sorry!</h1>

        <p class='lead'>
          We had a problem.  Please return to the <a href='{% url "index" %}'>homepage</a>.
        </p>
      </div>
    </div>

    <br><br><br>

    {% if sentry_event_id %}
      <script>
        Sentry.init({ dsn: 'https://4d33c703fe3d4eac9375b3fa5808f5b1@o412551.ingest.sentry.io/5289500' });
        Sentry.showReportDialog({ eventId: '{{ sentry_event_id }}' });
      </script>
    {% endif %}

  </body>
</html>
