{% extends 'app/base.html' %}

{% block title %}About Start Normal{% endblock title %}
{% block header %}About Start Normal{% endblock header %}



{% block content %}

<div class='col-lg-8 my-5'>
  <p>
    Start Normal began as a group of parents advocating for a normal start to the school year in San Mateo County, California.  Once it became clear that wasn't going to happen, we decided to help ourselves and formed a network of parents and teachers to support in-person at-home instruction for small, low-risk groups.
  </p>
  <p>
    We understand that the risks from Covid-19 are real, but believe they are outweighed by our children's educational and social-emotional needs.  For those seeking to supplement distance learning, Start Normal provides a solution that puts kids first.
  </p>
  <p>
    Learn more about the "<a href='{% url "team" %}'>team</a>".
  </p>
</div>
{% endblock content %}
