{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Student Information{% endblock title %}
{% block header %}Student Information{% endblock header %}

{% block content %}

  <section>
    <p class='lead'>
      Please select the student you're asking to join {{homeroom.parent.name}}'s Homeroom.
    </p>
  </section>
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Student Information</h4>
      </div>
      <div class="card-body">
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_form form %}
            {% comment %}
            {% bootstrap_field form.name show_help=True show_label=False placeholder="Enter Student's First Name/Initials" %}
            {% bootstrap_field form.school show_help=True show_label=false %}
            {% bootstrap_field form.grade show_help=True show_label=False %}
            {% bootstrap_field form.gender show_help=True show_label=False %}
            {% endcomment %}
            {% buttons %}
              <button type="submit" class="btn btn-primary btn-lg btn-block" >
                Save
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>

      <div class='card-footer'>
        <p>
          <small class='text-muted'>Please contact <a href='dbinetti@startnormal.com'>dbinetti@startnormal.com</a> if you have any questions or need support.</small>
        </p>
      </div>
    </div>
  </section>
{% endblock content %}
