<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<script src="https://kit.fontawesome.com/1c8c066f08.js" crossorigin="anonymous"></script>
<script src="https://browser.sentry-cdn.com/5.20.1/bundle.min.js" integrity="O8HdAJg1h8RARFowXd2J/r5fIWuinSBtjhwQoPesfVILeXzGpJxvyY/77OaPPXUo" crossorigin="anonymous"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Start Normal! - Add Classmate</title>
    <style>
      .select2-container {
          min-width: 100% !important;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <section class='m-5'>
        <div class='card'>
          <div class='card-header'>
            <h4>
              Classmate Info
            </h4>
          </div>
          <div class='card-body'>
            <form method='POST' role='form'>
              {% csrf_token %}
              {% bootstrap_form_errors form %}
              {% bootstrap_field form.student_name show_label=False %}
              {% bootstrap_field form.parent_name show_label=False %}
              {% bootstrap_field form.parent_email show_label=False %}
              {% bootstrap_field form.school show_label=False %}
              {% bootstrap_field form.grade show_label=False %}
              {% bootstrap_button "Add Classmate" button_class='btn btn-block btn-success'%}
            </form>
          </div>
        </div>
      </section>
    </div>
    {{form.media}}
  </body>
</html>
