{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Confirmed!{% endblock title %}
{% block header %}Confirmed!{% endblock header %}

{% block content %}
<section>
  <p class='lead'>
    Your Registration is Confirmed!
  </p>
</section>
<section class='my-5'>
  <p>
    We have received your request!  We will reach out to coordinate with you no later than October 30.
  </p>
</section>
<section class='my-5'>
  <p>
    If you have any questions, please contact <a mailto='eaglemiddlepto@gmail.com'>eaglemiddlepto@gmail.com</a>.  Thank you!
  </p>
</section>

{% endblock content %}
