{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Create Homeroom{% endblock title %}
{% block header %}Create Homeroom{% endblock header %}

{% block content %}
<section>
  <p class='lead'>
    Create Homeroom
  </p>
  <p>
    Choose your Homeroom preferences so we can match you to Teachers and other Students, then click Create.  Your student will automatically be added to it, and then you can choose others to join.
  </p>
</section>
<section class='my-5'>
  <div class='card'>
    <div class='card-header'>
      <h4>Homeroom Preferences for {{student.name}}</h4>
    </div>
    <div class='card-body'>
      <form method='post' role='form'>
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.schedule show_label=false %}
        {% bootstrap_field form.frequency show_label=false %}
        {% bootstrap_field form.safety show_label=false %}
        {% bootstrap_field form.kind show_label=false show_help=True %}
        {% bootstrap_field form.notes show_label=false %}
        {% buttons %}
          <button type="submit" class="btn btn-success btn-lg btn-block">
            Create this Homeroom
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</section>

{% endblock content %}
