{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Your Dashboard{% endblock title %}
{% block header %}Your Dashboard{% endblock header %}

{% block content %}

  <section class='my-5'>
    <p class='lead'>
      Manage your account from your Dashboard
    </p>
  </section>

  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Parent Information</h4>
      </div>
      {% if parent %}
        <div class='card-body'>
          <ul class='list-group list-group-flush'>
            <li class='list-group-item'><strong>Name:</strong>&nbsp;{{parent.user.name|title}}</li>
            <li class='list-group-item'><strong>Willing to Host Instruction?</strong>&nbsp;{{parent.is_host|yesno|title}}</li>
            <li class='list-group-item'><strong>Schedule:</strong>&nbsp;{{parent.get_schedule_display}}</li>
            <li class='list-group-item'><strong>Frequency:</strong>&nbsp;{{parent.get_frequency_display}}</li>
            <li class='list-group-item'><strong>Safety:</strong>&nbsp;{{parent.get_safety_display}}</li>
            <li class='list-group-item'><strong>Notes:</strong>&nbsp;{{parent.notes|default:'(No Notes Provided)'}}</li>
          </ul>
        </div>
        <div class='card-footer'>
          <a href='{% url "parent" parent.id %}' class='btn btn-success btn-large' role='button'>Edit Parent Information</a>
        </div>
      {% else %}
        <div class='card-body'>
          <p>
            You are not currently registered as a parent.  <a href='{% url "create-parent" %}'>Register as Parent</a>
          </p>
        </div>
      {% endif %}
    </div>
  </section>


  {% if parent %}
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Student Information</h4>
      </div>
      <div class='card-body'>
        <table class='table'>
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                School
              </th>
              <th>
                Grade
              </th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
              <tr>
                <td>
                  <a href='{% url "student" student.id %}'>{{student.name|default:"(Unknown)"}}</a>
                </td>
                <td>
                  {{student.school}}
                </td>
                <td>
                  {{student.get_grade_display}}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class='card-footer'>
        <a href='{% url "create-student" %}' class='btn btn-success btn-large' role='button'>Add a Student</a>
      </div>
    </div>
  </section>

  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Classmate Requests</h4>
      </div>
      <div class='card-body'>
        <table class='table'>
          <thead>
            <tr>
              <th>
                From Student
              </th>
              <th>
                To Student
              </th>
              <th>
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            {% for classmate in classmates %}
              <tr>
                <td>
                  {{classmate.from_student}}
                </td>
                <td>
                  {{classmate.to_student}}
                </td>
                <td>
                  {{classmate.get_status_display}}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class='card-footer'>
        <a href='{% url "create-classmate" %}' class='btn btn-success btn-large' role='button'>Make a Classmate Request</a>
      </div>
    </div>
  </section>
  {% endif %}

  {% if teacher %}
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Student Information</h4>
      </div>
      <div class='card-body'>
        <table class='table'>
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                School
              </th>
              <th>
                Grade
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan=4>
                We're looking for good matches for you; when we find some candidates we'll add them here for your review...
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>


  {% endif %}

  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>
          Teacher Information
        </h4>
      </div>
      <div class='card-body'>
        {% if teacher %}
          <ul class='list-unstyled'>
            {# <li>Location: {{teacher.school.city}}</li> #}
            <li>Credentialed? {{teacher.is_credential|yesno|title}}</li>
            <li>Levels Taught: {{teacher.levels}}</li>
            <li>Subjects Taught: {{teacher.subjects}}</li>
            <li>Notes: {{teacher.notes|default:"(No Notes)"}}</li>
          </ul>
          <p>
            <a href='{% url "teacher" %}'>Edit this information</a>
          </p>
        {% else %}
          You are not currently registered as a teacher.  <a href='{% url "teacher" %}'>Register as Teacher</a>
        {% endif %}
      </div>
    </div>
  </section>
  <section class='ml-2'>
    <a href='{% url "delete-user" %}'><span class='text-danger'>Delete Account</span></a>
  </section>
  <section class='my-5'>
    If you have any questions, concerns, ideas or need support, please feel free to call/text me on my cell at 415.713.2126 or email me at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a>
  </section>
{% endblock content %}
