{% extends 'app/base.html' %}

{% block title %}Frequently Asked Questions{% endblock title %}
{% block header %}Frequently Asked Questions{% endblock header %}

{% block content %}

<section class='my-3'>
  <div class='col-lg-9'>
    <h4>
      How does this work?
    </h4>
    <p class='mb-5 mt-3'>
      It's fairly simple, actually; we're just connecting parents and teachers for in-person instruction.  Parents form learning pods (we call them "Homerooms") with children from the same location and grade level, and we match them to teachers who appreciate face-to-face instruction in a controlled, small-group environment.
    </p>
    <h4>
      How much does it cost?
    </h4>
    <p class='mb-5 mt-3'>
      It's free to register.  Each teacher sets his/her own rate, and varies depending on the length of commitment, number of students, etc,.  That said, a typical engagement of five students runs $100 an hour, which split five ways is $20/hour per student.  Assuming three hours of instruction per day four days a week, that's less than $250 per week.  Again, each group is free to work this out for themselves.
    </p>
    <h4>
      Do I have to hire a teacher?
    </h4>
    <p class='mb-5 mt-3'>
      Professional teachers are always the best resource for instruction.  However, groups unable to secure a teacher due to availability or affordability can set up a "social" Homeroom Pod &mdash; because distance learning together is better than distance learning alone.
    </p>
    <h4>
      What about masks, distance, etc.?
    </h4>
    <p class='mb-5 mt-3'>
      Each Homeroom Pod is free to set their own parameters for safety, including masks, distancing, hygienic practices, etc.  That said, this is a program designed for low-risk groups (ie, generally young and healthy.)  Teachers with high-risk conditions, or students with family members at elevated risk, etc., shouldn't participate.
    </p>
    <h4>
      Is this safe?
    </h4>
    <p class='mb-5 mt-3'>
      Covid-19 represents a real risk to anyone at any age in any condition.  Every group needs to decide the level of risk they are willing to tolerate, but this approach is really designed for low-risk groups.
    </p>
    <h4>
      Does this work with Distance Learning?
    </h4>
    <p class='mb-5 mt-3'>
      Absolutely.  You could do this in addition to Distance Learning, or have the teacher use the Distance Learning material, or just teach the Distance Learning material yourselves with in-person, at-home, small-group instruction.  Or it could be a complete replacement to Distance Learning.  Again, it's up to each group to decide for themselves.
    </p>
    <h4>
      What is taught?
    </h4>
    <p class='mb-5 mt-3'>
      The groups themselves can determine their curriculum along with the instructor.  However, most stick with the basics:  reading, writing, arithmetic, and social studies.
    </p>
    <h4>
      Where will they take place?
    </h4>
    <p class='mb-5 mt-3'>
      Each group will be free to set their own schedule and venue.  However, we generally expect that instruction will take place at the home of a participating parent.
    </p>
    <h4>
      What kind of screening or vetting do you do?
    </h4>
    <p class='mb-5 mt-3'>
      The groups will have an opportunity to do their own interviews and assessments of instructors, and instructors of students.  These are voluntary associations, and they will only make sense if each participant is comfortable with the teacher/student interaction.
    </p>
    <h4>
      What is expected of parents?
    </h4>
    <p class='mb-5 mt-3'>
      While this will be less of an imposition than distance learning, it will be more than just sending your kids to school.  Parents will need to serve as hosts if their location allows it, and others will need to participate such that students and teachers are always monitored by other adults.  This should not be considered child-care or a "drop and dash" scenario.
    </p>
    <h4>
      Is there an age limit?
    </h4>
    <p class='mb-5 mt-3'>
      We support students from K-12.  However, we've found most parents are forming groups for elementary school students (K-6) since they are the ones who have the most difficult time under Distance Learning.
    </p>
    <h4>
      I just want you to find me a tutor.  Can you do that?
    </h4>
    <p class='mb-5 mt-3'>
      Sorry, that isn't the point of this site.  This is about teaching, not tutoring.  Each parent is obviously free to find their own educational resources for 1:1 instruction; we want to help foster not only academic learning but social-emotional learning as well, and that only comes from face-to-face group instruction.
    </p>
    <h4>
      Are you doing this now?
    </h4>
    <p class='mb-5 mt-3'>
      Our family has been doing this throughout the summer and it has worked wonderfully.  Our kids have fully caught up from the spring and are back on track.  Most important, they have rekindled that love of learning that was totally absent from screen-based instruction.
    </p>
    <h4>
      What if I have more questions?
    </h4>
    <p class='mb-5 mt-3'>
      I'm sure you will!  Much of this will need to be figured out as we go along.  But if you have questions that aren't on this FAQ then let me know by email at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a> and I'll do my best to answer.
    </p>
  </div>
</section>

{% endblock content %}
