{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Step Three of Three{% endblock title %}
{% block header %}Step Three of Three{% endblock header %}

{% block content %}

  <section class='my-5'>
    <p class='lead'>
      Last Step! Connect with Teachers and other Students
    </p>
    <p>
      We'll now start searching for Teachers and other Students to join your Homeroom Pod, and will notify you as potential matches come into the system.
    </p>
    <p>
      Alternatively, you can go to your <a href='{% url "dashboard" %}'>Dashboard</a> to make individual classmate requests directly, or update preferences like your student and parent information.
    </p>
    <p>
      As always, if you have any questions, comments or need assistance, don't hesitate to reach out me at <a href='mailto://dbinetti@startnormal.com'>dbinetti@startnormal.com</a>.  Thank you!
    </p>
  </section>
{% endblock content %}
