{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Delete Homeroom{% endblock title %}
{% block header %}Delete Homeroom{% endblock header %}

{% block content %}
<section>
  <p class='lead'>
    Deleting your Homeroom will remove all students from this Homeroom.  There is no undo!
  </p>
</section>
<section class='my-5'>
  <form method='post' role='form'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_field form.confirm %}
    {% buttons %}
      <button type="submit" class="btn btn-danger btn-lg btn-block">
        Delete This Homeroom
      </button>
    {% endbuttons %}
  </form>
</section>

{% endblock content %}
