{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Homeroom{% endblock title %}
{% block header %}Homeroom{% endblock header %}

{% block content %}
  {% if request.user == homeroom.parent.user %}
    {# Owner #}
    <section class='my-5'>
      <p class='lead'>
        Manage Homeroom
      </p>
      <p>
        Update your preferences, <a href='{% url "add-ask" homeroom.id %}'>add students</a> directly, or copy/paste your unique Homeroom Link and send it to those you want to join your Homeroom Pod:
      </p>
      <h5 class='my-3 ml-5'>
        {{homeroom_link}}
      </h5>
    </section>
    <section class='my-5'>
      <div class='card'>
        <div class='card-header'>
          <h4>Preferences</h4>
        </div>
        <div class='card-body'>
          <form method='post' role='form'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.schedule show_label=false %}
            {% bootstrap_field form.frequency show_label=false %}
            {% bootstrap_field form.safety show_label=false %}
            {% bootstrap_field form.kind show_label=false show_help=True %}
            {% bootstrap_field form.goal show_label=false show_help=True %}
            {% bootstrap_field form.notes show_label=false %}
            {% buttons %}
              <button type="submit" class="btn btn-success btn-lg">
                Save Preferences
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>
    </section>

    <section class='my-5'>
      <div class='card'>
        <div class='card-header'>
          <h4>
            Classmates
          </h4>
        </div>
        <div class='card-body'>
          <table class='table'>
            <thead>
              <tr>
                <th>
                  Student
                </th>
                <th>
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{classmate.student.name}}
                </td>
                <td>
                  {{classmate.get_status_display}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='card-footer'>
          <a href='{% url "create-classmate" %}'>Add Classmate</a>
        </div>
      </div>
    </section>


    <section class='mt-2 mt-5'>
      <div class='card'>
        <div class='card-header'>
          <h4>Current Students</h4>
        </div>
        <div class='card-body'>
            <table class='table'>
              <thead>
                <tr>
                  <th>
                    Student Name
                  </th>
                  <th>
                    Parent Name
                  </th>
                  <th>
                    Parent Email
                  </th>
                  <th>
                    Status
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                  <tr>
                    <td>
                      {{student.name}}
                    </td>
                    <td>
                      {{student.parent.name}}
                    </td>
                    <td>
                      {{student.parent.email}}
                    </td>
                    <td>
                      {{student.get_status_display}}
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan=3>
                      (No Students in this Homeroom)
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </section>

    <section class='mt-2 mt-5'>
      <div class='card'>
        <div class='card-header'>
          <h4>Pending Students (Invites or Requests)</h4>
        </div>
        <div class='card-body'>
          <table class='table'>
            <thead>
              <tr>
                <th>
                  Student Name
                </th>
                <th>
                  Parent Name
                </th>
                <th>
                  Parent Email
                </th>
                <th>
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              {% for ask in asks %}
                <tr>
                  <td>
                    {{ask.student_name}}
                  </td>
                  <td>
                    {{ask.parent_name}}
                  </td>
                  <td>
                    {{ask.parent_email}}
                  </td>
                  <td>
                    {{ask.get_status_display}}
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan=4>
                    (No Pending Student Invites/Requests)
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class='card-footer'>
          <p>
            <a href='{% url "add-ask" homeroom.id %}' class='btn btn-success btn-lg'>Add Student</a>
          </p>
        </div>
      </div>
    </section>

    <section class='mt-5 mt-3'>
      <p>
        <a href='{% url "delete-homeroom" homeroom.id %}'><span class='text-danger'>Delete Homeroom</span></a>
      </p>
    </section>


  {% elif request.user.is_authenticated %}
  {# User #}
    <section class='my-5'>
      <p class='lead'>
        This Homeroom has {{homeroom.students.count}} students representing:<br>
        &nbsp;&nbsp; - {{homeroom.schools|join:", "}}<br>
        &nbsp;&nbsp; - {{homeroom.grades|join:", "}}<br>
      </p>
    </section>
    <section class='my-5'>
      <a href='{% url "ask-user" homeroom.id %}' role='button' class="btn btn-success btn-block btn-lg">
        Request to Join This Homeroom
      </a>
    </section>
    <section class='my-5'>
      <div class='card'>
        <div class='card-header'>
          <h4>Preferences</h4>
        </div>
        <div class='card-body'>
          <ul class='list-group'>
            <li class='list-group-item'>
              <strong>Owner:</strong>&nbsp;{{homeroom.parent.user.name}}
            </li>
            <li class='list-group-item'>
              <strong>Schedule:</strong>&nbsp;{{homeroom.get_schedule_display}}
            </li>
            <li class='list-group-item'>
              <strong>Frequency:</strong>&nbsp;{{homeroom.get_frequency_display}}
            </li>
            <li class='list-group-item'>
              <strong>Safety:</strong>&nbsp;{{homeroom.get_safety_display}}
            </li>
            <li class='list-group-item'>
              <strong>Notes:</strong>&nbsp;{{homeroom.notes|default:"(No Notes)"}}
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class='mt-2 mt-5'>
      <div class='card'>
        <div class='card-header'>
          <h4>Current Students</h4>
        </div>
        <div class='card-body'>
          <table class='table table-responsive-lg table-sm'>
            <thead>
              <tr>
                <th>
                  Student Name
                </th>
                <th>
                  Parent Name
                </th>
                <th>
                  Parent Email
                </th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                  <td>
                    {{student.name}}
                  </td>
                  <td>
                    {{student.parent.name}}
                  </td>
                  <td>
                    <a href='mailto:{{student.parent.email}}'>{{student.parent.email}}</a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan=3>
                    (No Students in this Homeroom)
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>



  {% else %}
  {# Public #}
    <section class='my-5'>
      <p class='lead'>
        This Homeroom has {{homeroom.students.count}} students representing:<br>
        &nbsp;&nbsp; - {{homeroom.schools|join:", "}}<br>
        &nbsp;&nbsp; - {{homeroom.grades|join:", "}}<br>
      </p>
    </section>
    <section class='my-5'>
      <p class='mb-5'>If you'd like to see more details about this Homeroom and request to join, please:</p>
      <a href='{% url "signup" homeroom.id %}' role='button' class="btn btn-success btn-block btn-lg">Register as a Parent</a>.
    </section>



    {% comment %}
    <section class='my-5'>
      <a href='{% url "signup" homeroom.id %}' role='button' class="btn btn-success btn-block btn-lg">
        Request to Join This Homeroom
      </a>
    </section>
    <section class='my-5'>
      <div class='card'>
        <div class='card-header'>
          <h4>Details</h4>
        </div>
        <div class='card-body'>
          <ul class='list-group'>
            <li class='list-group-item'>
              <strong>Owner:</strong>&nbsp;{{homeroom.parent.user.name}}
            </li>
            <li class='list-group-item'>
              <strong>Schedule:</strong>&nbsp;{{homeroom.get_schedule_display}}
            </li>
            <li class='list-group-item'>
              <strong>Frequency:</strong>&nbsp;{{homeroom.get_frequency_display}}
            </li>
            <li class='list-group-item'>
              <strong>Safety:</strong>&nbsp;{{homeroom.get_safety_display}}
            </li>
            <li class='list-group-item'>
              <strong>Notes:</strong>&nbsp;{{homeroom.notes|default:"(No Notes)"}}
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class='mt-2 mt-5'>
      <div class='card'>
        <div class='card-header'>
          <h4>Current Students</h4>
        </div>
        <div class='card-body'>
            <table class='table table-responsive-lg table-sm'>
              <thead>
                <tr>
                  <th>
                    Student Name
                  </th>
                  <th>
                    Parent Name
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for classmate in classmates %}
                  <tr>
                    <td>
                      {{classmate.student_name}}
                    </td>
                    <td>
                      {{classmate.parent_name}}
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan=3>
                      (No Students in this Homeroom)
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </section>
  {% endcomment %}

  {% endif %}

{% endblock content %}




