{% extends 'app/base.html' %}
{% load static %}

{% block title %}Rake Up Eagle! - Sponsored by Eagle Middle School PTO{% endblock title%}


{% block content %}

<section>
  <div class='jumbotron'>
    <section>
      <p class='my-3 lead'>
        <h2><strong>Rake Up Eagle</strong> is coming November 14, 2020!</h2>
      </p>
    </section>
    <section>
      <p class='my-3'>
        Rake Up Eagle connects volunteers with seniors, veterans, and disabled citizens in a day of public service.
      </p>
    </section>
    <section class='mt-3'>
      <div class='row'>
        <div class='col-lg-6 my-2'>
          <div class='card'>
            <img src='{% static "app/volunteer.jpg" %}' class='card-img-top'>
            <div class='card-body'>
              <h4 class='card-title text-center'>
                Volunteer to Help
              </h4>
              <p class='card-text'>
                Create a team for a day to help a senior, veteran, or disabled neighbor!
              </p>
              {# <a href='{% url "volunteers" %}' role='button' class="btn btn-success btn-block btn-lg"> #}
              <a href='https://www.signupgenius.com/go/20f0e4aaba62ca0fc1-rake' role='button' class="btn btn-success btn-block btn-lg">
                Signup!
              </a>
            </div>
          </div>
        </div>
        <div class='col-lg-6 my-2'>
          <div class='card'>
            <img src="https://rakeupeagle.s3-us-west-1.amazonaws.com/recipient.jpg" class='card-img-top'>
            <div class='card-body'>
              <h4 class='card-title text-center'>
                Clean My Yard
              </h4>
              <p class='card-text'>
                Must be a senior, veteran, or unable to maintain your yard due to disability.
              </p>
              <a href='{% url "recipients" %}' role='button' class="btn btn-success btn-block btn-lg">
                Register!
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
{% endblock content %}
