{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Delete Parent{% endblock title %}
{% block header %}Delete Parent{% endblock header %}

{% block content %}
<section>
  <p class='lead'>
    Deleting your Parent will also remove all students related to this parent.  There is no undo!
  </p>
  <p>
    This will not affect your Teacher account (if present.)
  </p>
</section>
<section class='my-5'>
  <form method='post' role='form'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_field form.confirm %}
    {% bootstrap_button "Delete this Parent and related Students" button_type='submit' button_class='btn btn-danger btn-lg btn-block' %}
  </form>
</section>

{% endblock content %}
