{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Welcome! Let's Get Started{% endblock title %}
{% block header %}Welcome! Let's Get Started{% endblock header %}

{% block content %}
<section class='mb-5'>
  <p class='lead'>
    There are three steps to finding a teacher for your children:
  </p>
  <ul class='list-unstyled mt-3 ml-5'>
    <li><strong>1.</strong>&nbsp;Enter Parent Preferences</li>
    <li><strong>2.</strong>&nbsp;Enter Student Information</li>
    <li><strong>3.</strong>&nbsp;Connect to a Homeroom Pod</li>
  </ul>
  <p>
    After these steps are finished we're able to match you to available teachers in your area.
  </p>
</section>
<section>
  <div class='card'>
    <div class='card-header'>
      <h4>Step 1 - Parent Preferences</h4>
    </div>
    <div class='card-body'>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.name show_help=False show_label=False %}
        {% bootstrap_field form.email show_help=False show_label=False %}
        {% bootstrap_field form.phone show_help=False show_label=False placeholder="Phone (optional)"%}
        {# {% bootstrap_field form.is_host show_help=True show_label=False%} #}
        {# {% bootstrap_field form.schedule show_help=True show_label=False%} #}
        {# {% bootstrap_field form.frequency show_help=True show_label=False%} #}
        {% bootstrap_field form.safety show_help=True show_label=False %}
        {% bootstrap_field form.notes show_help=False show_label=False %}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Save
          </button>
        {% endbuttons %}
      </form>
    </div>
    <div class='card-footer'>
      <p>
        If you need help email me at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a> and I'll walk you through the process.
      </p>
    </div>
  </div>
</section>
{% endblock content %}

