{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Update Parent Information{% endblock title %}
{% block header %}Update Parent Information{% endblock header %}

{% block content %}
<section class='mb-5'>
  <p class='lead'>
    Update your Parent Information
  </p>
</section>
<section>
  <div class='card'>
    <div class='card-header'>
      <h4>Parent Preferences</h4>
    </div>
    <div class='card-body'>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.name show_help=False show_label=False%}
        {% bootstrap_field form.email show_help=False show_label=False%}
        {% bootstrap_field form.phone show_help=False show_label=False%}
        {% bootstrap_field form.is_host show_help=True show_label=False%}
        {% bootstrap_field form.schedule show_help=True show_label=False%}
        {% bootstrap_field form.frequency show_help=True show_label=False%}
        {% bootstrap_field form.safety show_help=True show_label=False%}
        {% bootstrap_field form.notes show_help=False show_label=False%}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Save
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</section>
{% endblock content %}

