{% extends 'app/base.html' %}

{% block title %}Privacy Policy{% endblock title %}
{% block header %}Privacy Policy{% endblock header %}



{% block content %}
<div class='col-lg-8'>
  <p>
    Our privacy policy is fairly simple:  we won't share or sell your information to anyone outside our system.  The purpose of the site is to connect you with other parents and/or teachers who want an in-person education experience, and so your name, email, and student name will be available to other parents and/or teachers on the private site should you register.  No personally-identifiable information is available on the public site.  If you choose to remove your account all information is deleted immediately.
  </p>
  <p>
    If you signed up using your Google Account, that information will only be used to authenticate you and send administrative updates (from which you can unsubscribe at any time.)  We store your name and email as provided by Google on our secured servers, and only access the information once at registration.
  </p>
</div>
{% endblock content %}
