{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}{{school.name}}{% endblock title %}
{% block header %}{{school.name}}{% endblock header %}
{% block subheader %}
  {{school.address}}, {{school.city}}, {{school.state}}&nbsp;&nbsp;<a href='tel:{{school.phone}}'>{{school.phone}}</a>&nbsp;<a href='{{school.website}}'>{{school.website}}</a><br>
{% endblock subheader %}

{% block content %}

  <p class='lead'>
    This School is Supported!
  </p>
  <p>
    Yes, this school is supported in our system!
  </p>
  {% if school.students.count >= 10 %}
    There are {{school.students.count}} students from {{school.name}} using Start Normal.  Register to add your student to an existing Homeroom or create one of your own.
  {% else %}
    Register to create a Homeroom and add students to it.
  {% endif %}
  </p>
  {% if not request.user.is_authenticated %}
    <section class='mt-3'>
      <div class='row'>
        <div class='col-lg-6 my-2'>
          <a href='{% url "signup" "parent" %}' role='button' class="btn btn-success btn-block btn-lg">
            Parent Signup
          </a>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock content %}
