{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Student Information{% endblock title %}
{% block header %}Student Information{% endblock header %}

{% block content %}
  {% if parent.is_welcomed %}
    <section class='mb-5'>
      <p class='lead'>
        Enter Student Information
      </p>
    </section>
  {% else %}
    {# ONBOARDING #}
    <section class='mb-5'>
      <p class='lead'>
        Step Two of Three
      </p>
      {% if is_more %}
        <p>We've added:
        <ul class='list-styled'>
          {% for student in students %}
            <li>{{student.name}}</li>
          {% endfor %}
        </ul>
        </p>
        <p>
          Add another student below, or skip to <a href='{% url "finalize" %}'>Last Step</a> if you're finished.
        </p>
      {% else %}
        <p>
          Add your first student below.  After that you'll be able to additional students, or skip to the third step.
        </p>
      {% endif %}
    </section>
  {% endif %}

  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>
          Student Form
        </h4>
      </div>
      <div class="card-body">
        <form method='POST'>
          {% csrf_token %}
          {% bootstrap_form_errors form %}
          {% bootstrap_field form.name show_help=True show_label=False placeholder="Enter Student's First Name/Initials" %}
          {% bootstrap_field form.school show_help=True show_label=false %}
          {% bootstrap_field form.grade show_help=True show_label=False %}
          {# {% bootstrap_field form.gender show_help=False show_label=False %} #}
          {% if is_more %}
            {% bootstrap_button "Add Another Student" button_type='submit' button_class='btn btn-primary btn-block' size='lg' %}
          {% else %}
            {% bootstrap_button "Add Student" button_type='submit' button_class='btn btn-primary btn-block' size='lg' %}
          {% endif %}
        </form>
      </div>
      {% if is_more %}
        <div class='card-footer'>
          <a href='{% url "finalize" %}' class="btn btn-dark btn-lg btn-block" role='button'>No More Students</a>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock content %}

{% block scripts %}
  {{form.media}}
{% endblock scripts %}
