{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Delete Student{% endblock title %}
{% block header %}Delete Student{% endblock header %}

{% block content %}
<section>
  <p class='lead'>
    Deleting your Student will remove all his/her information from the system.  There is no undo!
  </p>
</section>
<section class='my-5'>
  <form method='post' role='form'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_field form.confirm %}
    {% bootstrap_button "Delete this Student" button_type='submit' button_class='btn btn-danger btn-lg btn-block' %}
  </form>
</section>

{% endblock content %}
