{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Welcome Teacher!{% endblock title %}
{% block header %}Welcome Teacher!{% endblock header %}


{% block content %}

<section class='my-5'>
  <p class='lead'>
    Thank you for considering teaching under Start Normal!
  </p>
  <p>
    Please fill out the following information.  Note this is kept <strong>private</strong> until and unless you'd like it shared.
  </p>

  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Teacher Registration Form</h4>
      </div>
      <div class="card-body">
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.school show_help=True show_label=False size='large' placeholder='Type to search....' %}
            {% bootstrap_field form.is_credential show_label=True show_help=True %}
            {% bootstrap_field form.levels show_label=True show_help=True %}
            {% bootstrap_field form.subjects show_label=True show_help=True %}
            {% bootstrap_field form.rate show_label=True show_help=True %}
            {% bootstrap_field form.notes show_label=True show_help=True placeholder='Notes (kept private)'  %}
            {% buttons %}
              <button type="submit" class="btn btn-primary btn-lg btn-block" >
                Save
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>
      <div class='card-footer'>
        <p class="card-text">
          I would <strong>LOVE</strong> to hear from you on what you think the right questions are to ask here.  Feel free to just call/text me at 415.713.2126 or send me an email at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a>.
        </p>
      </div>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
  {{form.media}}
{% endblock scripts %}
