{% extends 'app/base.html' %}

{% block title %}Team{% endblock title %}
{% block header %}Team{% endblock header %}



{% block content %}

<div class='col-lg-8 my-5'>
  <script src="https://fast.wistia.com/embed/medias/op5du7wnj3.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_op5du7wnj3 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/op5du7wnj3/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>

  <p class='mt-5'>
    Sorry, not much of a team.  This isn't a big company, it's just me.  My name is <a href='http://www.dbinetti.com/'>David Binetti</a>, I'm a dad, and I started this effort because I'm worried about my kids and community.  I volunteer as a crossing guard, help manage the PTA website, donate thousands to our local educational foundation, and attend school board meetings regularly.
  </p>
  <p>
    <strong>I am not political</strong>.  I'm a registered independent and I've only donated to one politician in my life: former San Mateo County Supervisor <a href='https://www.legacy.com/obituaries/sfgate/obituary.aspx?n=mary-griffin-ramseur&pid=181058529&fhid=2353'>Mary Griffin</a>, and the only reason I did that was because she was my kindergarten teacher at <a href='https://skyline-ssfusd-ca.schoolloop.com'>Skyline Elementary</a> in Daly City.
  </p>

  <p>
    I’m an entrepreneur who founded companies to help people get easy access to information.  I worked on the first version of <a href='https://www.quicken.com'>Quicken.com</a>, started <a href='https://www.USA.gov'>USA.gov</a>, and my last company was eventually <a href='https://www.youtube.com/watch?v=oaJ3MuazAZ8&t=1s'>acquired by Pinterest</a>.  These days I help Fortune 500 companies avoid billion-dollar disasters when faced with <a href='https://www.theleanstartup.com'>high uncertainty</a> through a financial pricing model I developed called <a href='https://www.innovation-options.com'>innovation options</a>.
  </p>
  <p>
    If you want to reach me just email me at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a> and I'll get back to you as soon as I can.
  </p>
</div>
{% endblock content %}
