{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Volunteer!{% endblock title %}
{% block header %}Volunteer!{% endblock header %}

{% block content %}

  <section>
    <p class='lead'>
      Thank you for being willing to help!
    </p>
  </section>
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Volunteer Information</h4>
      </div>
      <div class="card-body">
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.name show_help=False show_label=False placeholder="Enter Student's First Name/Initials" %}
            {% bootstrap_field form.email show_help=False show_label=False size='small' placeholder='Type to search....' %}
            {% bootstrap_field form.phone show_help=False show_label=False size='small'%}
            {% bootstrap_field form.number show_help=False show_label=False size='small' %}
            {% bootstrap_field form.notes show_help=False show_label=False  placeholder='Any other notes? (optional)'%}
            {% buttons %}
              <button type="submit" class="btn btn-primary btn-lg btn-block" >
                Save
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>

      <div class='card-footer'>
        <p>
          <small class='text-muted'>Please contact <a href='mailto://eaglemiddlepto@gmail.com'>eaglemiddlepto@gmail.com</a> if you have any questions or need support.</small>
        </p>
      </div>
    </div>
  </section>

{% endblock content %}
