{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Step Three of Three{% endblock title %}
{% block header %}Step Three of Three{% endblock header %}

{% block content %}

  <section class='my-5'>
    <p class='lead'>
      Last Step! Build your Homeroom
    </p>
    <p>
      A Homeroom is a stable pod of students to be taught as a group.  Typical Homerooms are about 4-6 students of the same grade with similar preferences for schedule, frequency and safety.
    </p>
    <p>
      There are two ways to build up your Homeroom:
    </p>
    <ul class='list-unstyled ml-2'>
      <li class='my-3'><strong>1.</strong>&nbsp;&nbsp;If you have already formed your own pod you can just add names directly, using the Add Student link below.</li>
      <li class='my-3'><strong>2.</strong>&nbsp;&nbsp;You can invite a friend using the homeroom link &mdash; just copy &amp; paste and send it in email or text along with a personal message.</li>
    </ul>
    <p>
      We'll start looking for matching teachers right away, but keep in mind most instructors want to see at least three students in your Homeroom to start.  We'll send notices when there's a match, and in the meantime you can always update any information from your <a href='{% url "dashboard" %}'>Dashboard</a>.
    </p>
  </section>
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Your Homerooms</h4>
      </div>
      <div class='card-body'>
        <table class='table table-responsive'>
          <thead>
            <tr>
              <th>
                Homeroom
              </th>
              <th>
                Link
              </th>
              <th>
                Add
              </th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
              <tr>
                <td>
                  <a href='{% url "homeroom" student.homeroom.id %}'>{{student.name}}</a>
                </td>
                <td>
                  {{student.homeroom.homeroom_link}}
                </td>
                <td>
                  <a href='{% url "add-ask" student.homeroom.id %}'>Add Student</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock content %}
