*.backup
*.css
*.csv
*.DS_Store
*.log
*.pot
*.pyc
*.rdb
*.xlsx
.cache/
.cache/v/cache/lastfailed
.coverage
.env
.pytest_cache/*
.venv/*
config/database.yml
htmlcov/*
project/media/*
project/static/*
project/mediafiles/*
project/staticfiles/*
latest.dump
