[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
django-querycount = "*"
factory-boy = "*"
faker = "*"
pytest = "*"
pytest-django = "*"
pylint = "*"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
whitenoise = "*"
ipython = "*"
brotli = "*"
auth0-python = "*"
gunicorn = "*"
django-redis = "*"
django-rq = "*"
django-bootstrap4 = "*"
requests = "*"
django-model-utils = "*"
sentry-sdk = "*"
django-hashid-field = "*"
python-pdf = "*"
phonenumberslite = "*"
django-phonenumber-field = "*"
django-cloudinary-storage = "*"
django-fsm = "*"
django-fsm-admin = {editable = true, ref = "master", git = "https://github.com/gadventures/django-fsm-admin.git"}
django-reversion = "*"
geocoder = "*"
twilio = "*"
pyjwt = "*"
pillow = "*"
python-dateutil = "*"
wkhtmltopdf = "*"
pandas = "*"
django-pandas = "*"
geopandas = "*"

[requires]
python_version = "3.11"
