{% extends 'app/_base.html' %}

{% block title %}About Rake Up Eagle{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      About Rake Up Eagle
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p>
        Rake Up Eagle is an initiative of the Eagle Middle School PTO.  Inspired by Rake Up Boise, our goal is to connect volunteers with seniors, veterans, and disabled Eagle residents to rake and clean yards.
      </p>
    </div>
  </section>
{% endblock content %}
