{% extends 'app/_base.html' %}

{% load humanize %}
{% load static %}

{% block title %}Account{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Account
    </h2>
  </section>
  <section class='my-5'>
    <p class='lead'>
      Here is your account information
    </p>
    <p>
      <form method='post' role='form'>
        {% csrf_token %}
        {{form.phone}}
        {{form.name}}
        <button type='submit' class='btn btn-success btn-lg btn-block'>Save</button>
      </form>
    </p>
    <p>
      {% for recipient in recipients %}
        {{recipient}}
      {% empty %}
        No Recipients Associated with This Account
      {% endfor %}
    </p>
    <p>
      {% for team in teams %}
        {{team}}
      {% empty %}
        No Teams Associated with This Account
      {% endfor %}
    </p>

  </section>
{% endblock content %}
