{% extends 'app/_base.html' %}

{% block title %}Team Detail{% endblock title %}

{% block content %}
  <header>
    <p>
      <span class='bi bi-arrow-left-circle'></span>&nbsp;<a href='{% url "dashboard" %}'>Back to Dashboard</a>
    </p>
    <h2>
      {{team.name}}
    </h2>
  </header>
  <main>
    <div class='col-lg-8'>
      <ul class='list-unstyled'>
        <li class='list-item'>{{team.get_size_display}}</li>
        <li class='list-item'>{{team.phone.as_national}}</li>
        <li class='list-item'>{{team.nickname}}</li>
      </ul>
    </div>
    <div class='my-2'>
      <p>
        Status: <strong>{{team.get_state_display}}</strong>
      </p>
      <ul class='list-inline'>
        {% for transition in transitions %}
          <li class='list-inline-item pe-3 pb-3'><a href='{% url "admin-team-action" team.id transition.name %}' class='btn btn-lg {% if transition.name in "accept, confirm, complete" %}btn-success{% elif transition.name in "decline, cancel" %}btn-danger{% endif %}' role='button'>{{transition.name|upper}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class='col-lg-8 my-2'>
      <p>
        <strong>Notes:</strong>
      </p>
      <p>
        {{team.notes|default:"(No Notes)"}}
      </p>
    </div>
    <div class='col-lg-12 my-2'>
      <p>
        <strong>Messages:</strong>
      </p>
      <ul class='list-inline'>
        <li class='list-inline-item pe-3 pb-3'><a href='{% url "admin-message-team" team.id %}' role='button' class='btn btn-lg btn-success'>Message Team</a></li>
        <li class='list-inline-item pe-3 pb-3'><a href='{% url "admin-read-team" team.id %}' role='button' class='btn btn-lg btn-primary'>Process Messages</a></li>
      </ul>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Created</th>
            <th>Direction</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          {% for text in texts %}
            <tr class='{% if text.get_state_display == "New"%}table-warning{%endif%}'>
              <td>{{text.created}}</td>
              <td>{{text.get_direction_display}}</td>
              <td>{{text.body}}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan=3>(No messages)</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </p>
    </div>
  </main>
{% endblock content %}
