{% extends 'app/_base.html' %}

{% load humanize %}
{% load static %}

{% block title %}Message Team{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Message Team
    </h2>
  </section>
  <section class='my-5 row'>
    <p class='lead'>
      {{team.name}}
    </p>
    <p>
      <form method='post' role='form' class='form-floating'>
        {% csrf_token %}
        <div class='form-floating mb-3 col-md-4'>
          <textarea name="body" class="form-control" id="id_body" placeholder='Message' required rows="10" style="height:100%;"></textarea>
          <label for="id_body">Message</label>
        </div>
        <div class='col-md-4'>
          <button type='submit' class='btn btn-success btn-lg btn-block'>Send Message</button>
        </div>
      </form>
    </p>
  </section>
{% endblock content %}
