<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<script src="https://kit.fontawesome.com/1c8c066f08.js" crossorigin="anonymous"></script>
<script src="https://browser.sentry-cdn.com/5.20.1/bundle.min.js" integrity="O8HdAJg1h8RARFowXd2J/r5fIWuinSBtjhwQoPesfVILeXzGpJxvyY/77OaPPXUo" crossorigin="anonymous"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'app/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% comment %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173184237-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173184237-1');
    </script>
    {% endcomment %}
    {% block customstyles %}
    {% endblock customstyles %}
    {% block formmedia %}
    {% endblock formmedia %}
    <title>Rake Up Eagle! - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img class="d-inline-block mr-1" height=100 src="{% static 'app/square_logo.png' %}">
        <div class='float-right align-middle'>
          <h1 style="font-family:Caveat" class='text-success'>Rake Up Eagle!</span></h1>
          <p style="font-family:Caveat" class='text-success'>Sponsored by EMS PTO</p>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
            {% comment %}
            <li class='nav-item'>
              <a href="{% url 'account' %}" class='align-bottom'>Account</a>
            </li>
            {% endcomment %}
            {% if request.user.is_admin %}
              <li class='nav-item'>
                <a href="{% url 'admin:index' %}" class='align-bottom'>Admin</a>
              </li>
            {% endif %}
            <li class='nav-item'>
              <a href="{% url 'logout' %}" role='button' class='btn btn-sm btn-light ml-3'>Logout</a>
            </li>
          {% else %}
            <li class='nav-item'>
              <a href="{% url 'login' %}" role='button' class='btn btn-sm btn-outline-primary ml-3'>Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div id="content" class='container'>
      {% bootstrap_messages %}
      {% block content %}
      {% endblock %}
    </div>

    <br><br><br>


    {% block bottomnav %}
      <nav class="navbar navbar-expand-sm navbar-light">
        <ul class="nav nav-pills mr-auto">
          <li class="nav-item ml-3">
            <a href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'privacy' %}">Privacy</a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'terms' %}">Terms</a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'support' %}">Support</a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'donate' %}">Donate</a>
          </li>
        </ul>
      </nav>
    {% endblock bottomnav %}

    <br><br><br>

    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>
