{% extends 'app/pages/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Your Dashboard{% endblock title %}

{% block content %}
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Information</h4>
      </div>
        <div class='card-body'>
          <p>
            Hello, World!
          </p>
        </div>
    </div>
  </section>
  <section class='ml-2'>
    <a href='{% url "delete-user" %}'><span class='text-danger'>Delete Account</span></a>
  </section>
{% endblock content %}
