{% extends 'app/_base.html' %}

{% load humanize %}

{% block formmedia %}{{ form.media }}{% endblock formmedia %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Team Dashboard
    </h2>
  </section>
  <section class='my-5'>
    <p class='lead'>
      Make changes to team assignments here.
    </p>
  </section>
  <section class='my-5'>
    <table class='table'>
      <thead>
        <tr>
          <td>
            Name
          </td>
          <td>
            Email
          </td>
          <td>
            Phone
          </td>
          <td>
            Size
          </td>
          <td>
            Assignment
          </td>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
          <tr>
            <td>
              <a href='{% url "dashboard-team" team.id %}'>{{ team.name }}</a>
            </td>
            <td>
              <a href='tel:{{ team.phone }}'>{{ team.phone }}</a>
            </td>
            <td>
              {{ team.get_size_display }}
            </td>
            <td>
              {{ team.assignment.name|default:'(Not Assigned)' }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock content %}
