{% extends 'app/_base.html' %}

{% block title %}Frequently Asked Questions{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      Frequently Asked Questions
    </h2>
    <p class='lead'>
      Below find answers to some frequently asked questions for <a href='#recipients'>Recipients</a> and <a href='#teams'>Teams</a>.
    </p>
  </section>
  <section class='my-3'>
    <h3 id='recipients'>
      Recipient FAQ
    </h3>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Who qualifies to have their yard raked?
      </h5>
      <p class='pl-4 col-lg-8'>
        Recipients must be 65 years or older, disabled or a veteran and live in Eagle.  Note: If you live in Meridian, please contact Rake Up Meridian at (208) 685-7748 or <a href='mailto:kmcdannel@republicservices.com'>kmcdannel@republicservices.com</a>
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        How do I apply to have my yard raked?
      </h5>
      <p class='pl-4 col-lg-8'>
        Applications are online on this website.  <a href='{% url "login" %}'>Click here to register</a>.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        My yard was raked last year. Do I need to send in another application?
      </h5>
      <p class='pl-4 col-lg-8'>
        Yes, please sign up again. You must apply every year to have your yard raked.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        When will I know that my house has been chosen to be raked?
      </h5>
      <p class='pl-4 col-lg-8'>
        Unless you hear from us, you can assume your application has been chosen.  You will be notified by EMS PTO within one week of raking about the details and expectations for our recipients.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Will I need to be home when the team comes to rake my yard?
      </h5>
      <p class='pl-4 col-lg-8'>
        No, you don't have to be home. Please confine your animal, make sure all animal waste is cleaned up and keep the gate unlocked so they can rake.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        I have a dog/cat, what should I do with it during Rake Up Eagle?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please confine your animal during the time that the team is at your home. Also, <em>make sure all animal waste is picked up.</em>  <strong>If there is animal waste in the yard, the team will not rake your yard.</strong>
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What if the team comes before all of my leaves fall?
      </h5>
      <p class='pl-4 col-lg-8'>
        Rake Up Eagle is a single-day event, so you'll need to make other arrangements for late-falling leaves.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Can a team rake on a different day?
      </h5>
      <p class='pl-4 col-lg-8'>
        Our teams rake on November 11th. If there is inclement weather, the teams will rake within 1 week of the 11th.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What supplies does Rake Up Eagle supply for the volunteers?
      </h5>
      <p class='pl-4 col-lg-8'>
        We provide the leaf bags. Teams bring their own rakes, gloves, etc. All filled lawn bags will go at the end of your driveway for pick up.
      </p>
    </div>
  </section>
  <section class='my-5'>
    Still have questions?  Ask us at <a href='mailto:eaglemiddlepto@gmail.com'>eaglemiddlepto@gmail.com</a>!
  </section>
  <section class='my-3'>
    <h3 id='teams'>
      Team FAQ
    </h3>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What supplies does Rake Up Eagle provide for volunteer teams?
      </h5>
      <p class='pl-4 col-lg-8'>
        We provide the leaf bags. Teams will need to bring their own rakes, gloves, etc.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What time is Rake Up Eagle?
      </h5>
      <p class='pl-4 col-lg-8'>
        You will need to pick up your lawn bags at Eagle Middle on or before November 1th between 8-9 am. There is no set time to begin raking.  Most teams rake in the morning.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Does my entire team sign up on the website?
      </h5>
      <p class='pl-4 col-lg-8'>
        No, only the team leader should sign up on the website.  This person then serves as the coordinator for all of the team members.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        When will the teams receive their assigned houses?
      </h5>
      <p class='pl-4 col-lg-8'>
        We will notify you of your assigned house when you pick up lawn bags on or before November 11th.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Can teams rake on a different day?
      </h5>
      <p class='pl-4 col-lg-8'>
        Only if there is inclement weather. We have committed to raking on November 11th.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What should we do if we run out of bags?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please go to EMS and ask for more or text/call us and we will have some delivered. 208-484-5076
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What should we do with the leftover bags?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please return all unused bags to Eagle Middle school, 1000 W Floating Feather Rd.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What if the yard has dog/cat waste in it?
      </h5>
      <p class='pl-4 col-lg-8'>
        You are <strong>not allowed</strong> to rake if there is animal waste in the yard.  The homeowners have been notified they need to clean up all animal waste before teams show up.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What do we do if it rains/snows on or before Rake Up Eagle?
      </h5>
      <p class='pl-4 col-lg-8'>
        We ask that all teams get the raking done as soon as possible, preferably within a week of November 11th. If you absolutely cannot reschedule, please contact Rake Up Eagle to reassign the yard. Please also watch for texts/emails from Rake Up Eagle PTO with instructions if weather becomes an issue.
      </p>
    </div>
  </section>
  <section class='my-5'>
    Still have questions?  Ask us at <a href='mailto:eaglemiddlepto@gmail.com'>eaglemiddlepto@gmail.com</a>!
  </section>

{% endblock content %}
