{% extends 'app/pages/base.html' %}

{% block title %}Frequently Asked Questions{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      Frequently Asked Questions
    </h2>
    <p class='lead'>
      Below find answers to some frequently asked questions for <a href='#recipients'>Recipients</a> and <a href='#volunteers'>Volunteers</a>.
    </p>
  </section>
  <section class='my-3'>
    <h3 id='volunteer'>
      Recipient FAQ
    </h3>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Who qualifies to have their yard raked?
      </h5>
      <p class='pl-4 col-lg-8'>
        Recipients must be 65 years or older, disabled or a veteran and live in Eagle.  Note: If you live in Meridian, please contact Rake Up Meridian at (208) 685-7748 or <a href='mailto:kmcdannel@republicservices.com'>kmcdannel@republicservices.com</a>
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What time is Rake Up Eagle?
      </h5>
      <p class='pl-4 col-lg-8'>
        You will need to pick up your lawn bags at Eagle Middle on November 13th between 8-10 am. There is no set time to begin raking.  Most teams rake in the morning.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        When will the teams receive their assigned houses?
      </h5>
      <p class='pl-4 col-lg-8'>
        We will notify you of your assigned house when you pick up lawn bags on November 13th.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Can teams rake on a different day?
      </h5>
      <p class='pl-4 col-lg-8'>
        Only if there is inclement weather. We have committed to raking on November 13th.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What should we do if we run out of bags?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please go to EMS and ask for more or text/call us and we will have some delivered. 208-484-5076
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What should we do with the leftover bags?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please return all unused bags to Eagle Middle school, 1000 W Floating Feather Rd.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What if the yard has dog/cat waste in it?
      </h5>
      <p class='pl-4 col-lg-8'>
        You are <em>not obligated</em> to rake if there is animal waste in the yard.  The homeowners have been notified they need to clean up all animal waste before volunteers show up.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What do we do if it rains/snows on or before Rake Up Eagle?
      </h5>
      <p class='pl-4 col-lg-8'>
        We ask that all volunteer groups get the raking done as soon as possible, preferably within a week of November 13th. If you absolutely cannot reschedule, please contact Rake Up Eagle to reassign the yard. Please also watch for texts/emails from Rake Up Eagle PTO with instructions if weather becomes an issue.
      </p>
    </div>
  </section>
  <section class='my-5'>
    Still have question?  Ask us at <a href='mailto:eaglemiddlepto@gmail.com'>eaglemiddlepto@gmail.com</a>!
  </section>
  <section class='my-3'>
    <h3 id='volunteer'>
      Volunteer FAQ
    </h3>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What supplies does Rake Up Eagle supply for the volunteer groups?
      </h5>
      <p class='pl-4 col-lg-8'>
        We provide the leaf bags. Teams will need to bring their own rakes, gloves, etc.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What time is Rake Up Eagle?
      </h5>
      <p class='pl-4 col-lg-8'>
        You will need to pick up your lawn bags at Eagle Middle on November 13th between 8-10 am. There is no set time to begin raking.  Most teams rake in the morning.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        When will the teams receive their assigned houses?
      </h5>
      <p class='pl-4 col-lg-8'>
        We will notify you of your assigned house when you pick up lawn bags on November 13th.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Can teams rake on a different day?
      </h5>
      <p class='pl-4 col-lg-8'>
        Only if there is inclement weather. We have committed to raking on November 13th.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What should we do if we run out of bags?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please go to EMS and ask for more or text/call us and we will have some delivered. 208-484-5076
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What should we do with the leftover bags?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please return all unused bags to Eagle Middle school, 1000 W Floating Feather Rd.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What if the yard has dog/cat waste in it?
      </h5>
      <p class='pl-4 col-lg-8'>
        You are <em>not obligated</em> to rake if there is animal waste in the yard.  The homeowners have been notified they need to clean up all animal waste before volunteers show up.
      </p>
    </div>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        What do we do if it rains/snows on or before Rake Up Eagle?
      </h5>
      <p class='pl-4 col-lg-8'>
        We ask that all volunteer groups get the raking done as soon as possible, preferably within a week of November 13th. If you absolutely cannot reschedule, please contact Rake Up Eagle to reassign the yard. Please also watch for texts/emails from Rake Up Eagle PTO with instructions if weather becomes an issue.
      </p>
    </div>
  </section>
  <section class='my-5'>
    Still have question?  Ask us at <a href='mailto:eaglemiddlepto@gmail.com'>eaglemiddlepto@gmail.com</a>!
  </section>

{% endblock content %}
