{% extends 'app/_base.html' %}
{% load static %}

{% block content %}
  {% if True %}
    <section class='my-3'>
      <div class='jumbotron'>
        <h2>
          <strong>Rake Up Eagle</strong> connects volunteer teams with seniors, veterans, and disabled citizens in a day of public service.
        </h2>
        <p class='lead'>

          This year's event takes place on November 9th &mdash; join today as a recipient or volunteer your team!<br><br>

          {% comment %}
          <span class='text-danger'>Registration has closed for 2024 &mdash; see you on November 9th!</span>
          {% endcomment %}
        </h3>

      </div>
    </section>
    <section class='mt-3'>
      <div class='row'>
        <div class='col-lg-6 my-2'>
          <div class='card'>
            <h4 class='card-header text-center'>
              Volunteer to Help
            </h4>
            <img src={% static 'app/team.jpg' %} class='card-img-top'>
            <div class='card-body'>
              <p class='card-text'>
                Signup your team to rake the yard of a senior, veteran, or disabled neighbor!
              </p>
              {% comment %}
              <button class="btn btn-success btn-block btn-lg" disabled >
                Signup!
              </button>
              {% endcomment %}
              <a href='{% url "team" %}' class="btn btn-success btn-block btn-lg">
                Signup!
              </a>
            </div>
          </div>
        </div>
        <div class='col-lg-6 my-2'>
          <div class='card'>
            <h4 class='card-header text-center'>
              Register for Raking
            </h4>
            <img src="{% static 'app/recipient.jpg' %}" class='card-img-top'>
            <div class='card-body'>
              <p class='card-text'>
                If you're a senior, veteran, or disabled Eagle resident, register to have your yard raked!
              </p>
              {% comment %}
              <button class="btn btn-success btn-block btn-lg" disabled >
                Register!
              </button>
              {% endcomment %}
              <a href='{% url "recipient" %}' class="btn btn-success btn-block btn-lg">
                Register!
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <section class='my-3 col-lg-8'>
      <h2 class='mb-5'>
        <strong>Rake Up Eagle</strong> connects volunteer teams with seniors, veterans, and disabled citizens in a day of public service.
      </h2>
      <p class='lead mt-5'>
        This year's event will take place on November 9th, 2024.  We're gearing up for another great year, and will open registration soon.  In the meantime, if you have any questions you can reach out to <a href='mailto:eaglemiddlepto@gmail.com'>eaglemiddlepto@gmail.com</a> and we'll do our best to answer.
      </p>
    </section>
  {% endif %}
{% endblock content %}
