{% extends 'app/_base.html' %}
{% load cloudinary %}
{% load static %}

{% block title %}Rake Up Eagle! - Sponsored by Eagle Middle School PTO{% endblock title%}


{% block content %}
  {% if is_active %}
    <section class='my-3'>
      <div class='jumbotron'>

        <h2>
          <strong>Rake Up Eagle</strong> connects volunteer teams with seniors, veterans, and disabled citizens in a day of public service.
        </h2>

        <h3 class='my-3'>
          <strike>Join today -- registration deadline is November 1st!</strike><br><br>
          <span class='text-danger'>Registration has closed for 2022 &mdash; see you on November 5th!</span>
        </h3>
      </div>
    </section>
    <section class='mt-3'>
      <div class='row'>
        <div class='col-lg-6 my-2'>
          <div class='card'>
            <h4 class='card-header text-center'>
              Volunteer to Help
            </h4>
            <img src={% static 'app/team.jpg' %} class='card-img-top'>
            <div class='card-body'>
              <p class='card-text'>
                Signup your team to rake the yard of a senior, veteran, or disabled neighbor!
              </p>
              <button class="btn btn-success btn-block btn-lg" disabled >
                Signup!
              </button>
              {% comment %}
              <a href='{% url "login" %}?initial=team' class="btn btn-success btn-block btn-lg">
                Signup!
              </a>
              {% endcomment %}
            </div>
          </div>
        </div>
        <div class='col-lg-6 my-2'>
          <div class='card'>
            <h4 class='card-header text-center'>
              Register for Raking
            </h4>
            <img src="{% static 'app/recipient.jpg' %}" class='card-img-top'>
            <div class='card-body'>
              <p class='card-text'>
                If you're a senior, veteran, or disabled Eagle resident, register to have your yard raked!
              </p>
              <button class="btn btn-success btn-block btn-lg" disabled >
                Register!
              </button>
              {% comment %}
              <a href='{% url "login" %}?initial=recipient' class="btn btn-success btn-block btn-lg">
                Register!
              </a>
              {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <section class='my-3'>
      <div class='jumbotron'>
        <h2>
          <strong>Rake Up Eagle 2022</strong> was a huge success!
        </h2>
        <h3>
          Thank you to all our teams and recipients, and see you again next year!
        </h3>
      </div>
    </section>
    <section class='my-3'>
      {% for picture in pictures %}
        {% cloudinary picture.image.name width=800 class='img-fluid img-thumbnail'%}
      {% endfor %}
    </section>
  {% endif %}
{% endblock content %}
