{% extends 'app/pages/base.html' %}
{% load cloudinary %}
{% load static %}

{% block title %}Rake Up Eagle! - Sponsored by Eagle Middle School PTO{% endblock title%}


{% block content %}
  {% if is_active %}
    <section class='my-3'>
      <div class='jumbotron'>
        <h2>
          <strong>Rake Up Eagle</strong> connects volunteers with seniors, veterans, and disabled citizens in a day of public service.
        </h2>
      </div>
    </section>
    <section class='mt-3'>
      <div class='row'>
        <div class='col-lg-6 my-2'>
          <div class='card'>
            <h4 class='card-header text-center'>
              Volunteer to Help
            </h4>
            <img src={% static 'app/volunteer.jpg' %} class='card-img-top'>
            <div class='card-body'>
              <p class='card-text'>
                Signup your team to rake the yard of a senior, veteran, or disabled neighbor!
              </p>
              <a href='{% url "login" %}?initial=volunteer' class="btn btn-success btn-block btn-lg">
                Signup!
              </a>
            </div>
          </div>
        </div>
        <div class='col-lg-6 my-2'>
          <div class='card'>
            <h4 class='card-header text-center'>
              Register for Raking
            </h4>
            <img src="{% static 'app/recipient.jpg' %}" class='card-img-top'>
            <div class='card-body'>
              <p class='card-text'>
                If you're a senior, veteran, or disabled Eagle resident, register to have your yard raked!
              </p>
              <a href='{% url "login" %}?initial=recipient' class="btn btn-success btn-block btn-lg">
                Register!
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <section class='my-3'>
      <div class='jumbotron'>
        <h2>
          <strong>Rake Up Eagle</strong> was a huge success!
        </h2>
        <h3>
          Thank you to all our volunteers and recipients, and see you again next year!
        </h3>
      </div>
    </section>
    <section class='my-3'>
      {% for picture in pictures %}
        {% cloudinary picture.image.name width=800 class='img-fluid img-thumbnail'%}
      {% endfor %}
    </section>
  {% endif %}
{% endblock content %}
