{% extends 'app/pages/base.html' %}

{% block title %}Privacy Policy{% endblock title %}



{% block content %}
  <section class='my-5'>
    <h2>
      Privacy Policy
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p>
        Our privacy policy is fairly simple:  we won't share or sell your information with anyone &mdash; period.  No personally-identifiable information is available on the public site.  If you choose to remove your account all information is deleted immediately.
      </p>
      <p>
        If you signed up using your Google or Facebook Account, that information will only be used to authenticate you and send administrative updates (from which you can unsubscribe at any time.)  We store your name and email as provided by Google or Facebook on our secured servers, and only access the information once at registration.
      </p>
      <p>
        To remove your account, simply log in and click the "Delete Account" link at the bottom of your account page.   This will fully delete all data (logins, personal information, history, etc.) from our system.
      </p>
    </div>
  </section>
{% endblock content %}
