{% extends 'app/pages/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block formmedia %}{{ form.media }}{% endblock formmedia %}

{% block title %}Recipient Info{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Thank you!
    </h2>
  </section>
  <section class='my-5'>
    <p class='lead'>
      Thanks for registering!  Here's what you need to know:
    </p>
  </section>
  <section class='my-5'>
    <div class='card'>
      <h4 class='card-header'>Recipient Information</h4>
      <div class="card-body">
        <div class='card-text'>
          <ul class='list-unstyled'>
            <li><strong>Name:</strong>&nbsp;&nbsp;{{recipient.name}}</li>
            <li><strong>Email:</strong>&nbsp;&nbsp;{{recipient.email}}</li>
            <li><strong>Phone:</strong>&nbsp;&nbsp;{{recipient.phone}}</li>
            <li><strong>Address:</strong>&nbsp;&nbsp;{{recipient.address}}</li>
            <li><strong>Size:</strong>&nbsp;&nbsp;{{recipient.get_size_display}}</li>
            <li><strong>Dog in Yard?</strong>&nbsp;&nbsp;{{recipient.is_dog|yesno|title}}</li>
            <li><strong>Notes:</strong>&nbsp;&nbsp;{{recipient.notes|default:"(No Notes)"}}</li>
          </ul>
        </div>
      </div>
      <div class='card-footer'>
        {% bootstrap_button "Update this Information" button_type='link' href="/recipient/update" size='large' %}
        {% bootstrap_button "Remove me as Recipient" button_type='link' href="/recipient/delete" size='large' button_class='btn-danger' extra_classes='float-right'%}
      </div>
    </div>
  </section>
{% endblock content %}
