{% extends 'app/_base.html' %}

{% load humanize %}
{% load phonenumber %}
{% load static %}

{% block formmedia %}{{ recipient_form.media }}{% endblock formmedia %}

{% block title %}Registration for Yard Rake{% endblock title %}

{% block scripts %}
  {{block.super}}
  <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC5tc5pa3qr1p9oO1YUeLkjotaJJNnGqg&loading=async&libraries=places&callback=initAutocomplete">
  </script>
  <script src="{% static 'app/js/location.js' %}"></script>
{% endblock scripts %}

{% block content %}
  <section class='col-lg-8'>
    <h3>
      Recipient Signup
    </h3>
    <p class='lead'>
      To qualify for Rake Up Eagle, registrants <strong>must</strong>:
    </p>
  </section>
  <section class='col-lg-8'>
    <ul class='list-styled'>
      <li>Be at least 65 years old, disabled or a veteran</li>
      <li>Live within the city limits of Eagle</li>
      <li>Reside at the stated residence</li>
      <li>Agree to our <a href='{% url "terms" %}'>terms and waiver</a></li>
    </ul>
    <p>
      If your yard is selected to be raked, you should receive notification by Monday, November 4, 2024.  We are going to do our absolute best to rake as many yards as possible.
    </p>
    <p>
      If you live in a mobile home park, please check with the park manager to make sure that it is okay that your yard is raked by our volunteers before sending in your application.
    </p>
    <p>
      All raked leaf bags will be placed at your normal pickup location, or at the end of your driveway.
    </p>
  </section>
  <section class='my-5 col-lg-8'>
    <div class='card'>
      <div class='card-header'>
        <h4>Recipient Information</h4>
      </div>
      <form method='post' role='form' class='form-floating'>
        {% csrf_token %}
        <div class="card-body">
          <div class='card-text'>
            <div class='form-floating mb-3'>
              <input type="text" name="location" class="form-control form-control-lg" id="id_location" placeholder='Address to be Raked' required>
              <label for="id_location">Location</label>
            </div>
            <div class='form-floating mb-3'>
              <input type="text" name="name" class="form-control form-control-lg" id="id_name" placeholder='Name' required>
              <label for="id_name">Name</label>
            </div>
            <div class='form-floating mb-3'>
              <input type="tel" name="phone" class="form-control form-control-lg" id="id_phone" placeholder='Phone' required>
              <label for="id_phone">Phone</label>
            </div>
            <div class='form-floating mb-3'>
              <select name='size' class="form-control form-control-lg" id='id_size' >
                <option selected>Yard Size</option>
                <option value="110">Small (1-15 Bags)</option>
                <option value="120">Medium (16-30 Bags)</option>
                <option value="130">Large (31+ Bags)</option>
              </select>
              <label for='id_size'>Yard Size</label>
            </div>
            <div class='form-check mb-3'>
              <input type='checkbox' name='is_veteran' id='id_is_veteran' class="form-check-input">
              <label class="form-check-label" for="id_is_veteran">
                I am a Veteran
              </label>
            </div>
            <div class='form-check mb-3'>
              <input type='checkbox' name='is_senior' id='id_is_senior' class="form-check-input">
              <label class="form-check-label" for="id_is_senior">
                I am a Senior
              </label>
            </div>
            <div class='form-check mb-3'>
              <input type='checkbox' name='is_disabled' id='id_is_disabled' class="form-check-input">
              <label class="form-check-label" for="id_is_disabled">
                I am Disabled
              </label>
            </div>
            {{form.public_notes}}
            <input type="hidden" id="id_place_id" name="place_id">
          </div>
        </div>
        <div class='card-footer'>
          <div class='list-inline'>
            <li class='list-inline-item'>
              <button role='submit' class='btn btn-lg btn-success'>Save</button>
            </li>
          </div>
        </div>
      </form>
    </div>
  </section>

{% endblock content %}
