{% extends 'app/_base.html' %}

{% block title %}Success{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Success
    </h2>
    <p class='lead'>
      Congratulations &mdash; you're now registered for Rake Up Eagle!
    </p>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p>
        We'll reach out before November 5th will additional information.  If you require support, please send an email to <a href='mailto:support@rakeupeagle.com'>support@rakeupeagle.com</a> and we'll do everything we can to help!
      </p>
    </div>
  </section>
{% endblock content %}
