{% extends 'app/_base.html' %}

{% load phonenumber %}
{% load humanize %}

{% block formmedia %}{{ form.media }}{% endblock formmedia %}

{% block title %}Volunteer{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Volunteer
    </h2>
  </section>
  <section class='my-5'>
    <p class='lead'>
      Thanks for being willing to help!  Here's what you need to know:
    </p>
    <ul class='list-styled'>
      <li>The event date is November 9, 2024.</li>
      <li>We will coordinate with you by November 5, 2024.</li>
      <li>Check-in takes place from 8-10 AM at Eagle Middle School.</li>
      <li>We provide the lawn bags; you need to bring rakes, gloves, etc.</li>
      <li>You agree to our <a href='{% url "terms" %}'>terms and waiver.</a></li>
    </ul>
  </section>
  <section class='my-5 col-lg-8'>
    <div class='card'>
      <div class='card-header'>
        <h4>
          Team Leader Information
        </h4>
        <small>Note: This form is only for team leaders or solo volunteers; you shouldn't fill out this form if you're already part of a team.</small>
      </div>
      <form method='post' role='form' class='form-floating'>
        {% csrf_token %}
        <div class="card-body">
          <div class='card-text'>
            <div class='form-floating mb-3'>
              <input type="tel" name="phone" class="form-control form-control-lg" id="id_phone" placeholder='Phone' required>
              <label for="id_phone">Phone</label>
            </div>
            <div class='form-floating mb-3'>
              <input type="text" name="name" class="form-control form-control-lg" id="id_name" placeholder='Name' required>
              <label for="id_name">Your Name</label>
            </div>
            <div class='form-floating mb-3'>
              <input type="text" name="nickname" class="form-control form-control-lg" id="id_nickname" placeholder='Nickname for your Team'>
              <label for="id_nickname">Team Nickname (Optional)</label>
            </div>
            <div class='mb-3'>
              {{form.size}}
            </div>
            <div class='form-floating mb-3'>
              <input type="text" name="reference" class="form-control form-control-lg" id="id_reference" placeholder='Reference'>
              <label for="id_reference">Reference</label>
            </div>
            <div class='mb-3'>
              {{form.public_notes}}
            </div>
          </div>
        </div>
        <div class='card-footer'>
          <div class='list-inline'>
            <li class='list-inline-item'>
              <button role='submit' class='btn btn-lg btn-success'>Save</button>
            </li>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}
