{% extends 'app/_base.html' %}

{% load phonenumber %}
{% load bootstrap4 %}
{% load humanize %}

{% block formmedia %}{{ form.media }}{% endblock formmedia %}

{% block title %}Thank You!{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Thank you!
    </h2>
  </section>
  <section class='my-5'>
    <p class='lead'>
      Thanks for volunteering!  Here's what you need to know:
    </p>
    <ul class='list-styled'>
      <li>The event date is November 13, 2021.</li>
      <li>We will coordinate with you by November 8, 2021.</li>
      <li>Check-in takes place from 8-10 AM at Eagle Middle School.</li>
      <li>We provide the lawn bags; you need to bring rakes, gloves, etc.</li>
      <li>You must agree to our <a href='{% url "terms" %}'>terms and waiver.</a></li>
    </ul>
  </section>
  <section class='my-5 col-lg-8'>
    <div class='card'>
      <div class='card-header'>
        <h4>Volunteer Information</h4>
      </div>
      <form method='post'>
        {% csrf_token %}
        <div class="card-body">
          <div class='card-text'>
            {% bootstrap_form_errors form %}
            <div class='form-group'>
              <input type='text' name='phone' value='{{request.user.phone|phonenumber}}' class='form-control' disabled>
              <small class='form-text text-muted'>If you need to change your number please delete your account and start over.</small>
            </div>
            {% bootstrap_field form.size show_help=True show_label=False %}
            {% bootstrap_field form.nickname show_help=True show_label=False %}
            {% bootstrap_field form.reference show_help=True show_label=False %}
            {% bootstrap_field form.notes show_help=False show_label=False %}
          </div>
        </div>
        <div class='card-footer'>
          <div class='list-inline'>
            <li class='list-inline-item'>
              {% bootstrap_button "Save" button_type='submit' size='large' %}
            </li>
            <li class='list-inline-item'>
              {% url "team" as team_url %}
              {% bootstrap_button "Cancel" button_type='link' href=team_url size='large' button_class='btn-outline-dark' extra_classes='ml-3'%}
            </li>
          </div>
        </div>
      </form>
    </div>
    <div class='text-right'>
      <a href='{% url "delete" %}'><span class='text-danger text-small'>Delete Account</span></a>
    </div>
  </section>
{% endblock content %}
