{% extends 'app/_base.html' %}

{% block title %}Teams{% endblock title %}



{% block content %}
  <section class='my-5'>
    <h2>
      Thank You to Our Team Teams
    </h2>
    <p class='lead'>
      Thank you to all our volunteer teams for participating in this year's Rake Up Eagle!
    </p>
  </section>
  <section class='my-5 col-lg-8'>
    <div class='card'>
      <div class='card-header'>
        <h3>
          Volunteer Teams
        </h3>
      </div>
      <div class='card-body'>
        <table class='table'>
          <thead>
            <tr>
              <th>Team Leader</th>
              <th>Team Name</th>
            </tr>
          </thead>
          <tbody>
            {% for team in teams %}
            <tr>
              <td>{{team.name}}</td>
              <td>{{team.team}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class='card-footer'>
        <p>
          If you are a team leader and see another name who is part of your team, please let us know at <a href='mailto:support@rakeupeagle.com'>support@rakeupeagle.com</a>; it's important that we not double-count our teams.  Thanks!
        </p>
      </div>
    </div>
  </section>
{% endblock content %}
