{% extends 'app/pages/base.html' %}

{% block title %}Data Deletion{% endblock title %}



{% block content %}
<div class='col-lg-8'>
  <p>
    I agree to waive and release Rake Up Eagle and the sponsors of this event, including all persons and agencies connected with this event, from all claims for damages, injuries or death arising from my participation in this event. I will provide my own insurance and care, if necessary.  I also understand and agree that Rake Up Eagle or sponsors may subsequently use for publicity and/or promotional purposes pictures of me and my team participating in this event without obligation of liability to me.  I understand that the work done on my property is done by volunteers and will not hold them or Rake Up Eagle responsible for damage to personal property.
  </p>
</div>
{% endblock content %}
