{% extends 'app/_base.html' %}

{% block title %}Data Deletion{% endblock title %}



{% block content %}
  <section class='my-5'>
    <h2>
      Terms and Waiver
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p>
        To participate in Rake Up Eagle as either a Recipient or Volunteer you must agree to the following terms and waiver:
      </p>
      <p>
        "I agree to waive and release Rake Up Eagle and the sponsors of this event, including all persons and agencies connected with this event, from all claims for damages, injuries or death arising from my participation in this event as a volunteer. I will provide my own insurance and care, if necessary.  I also understand and agree that Rake Up Eagle or sponsors may subsequently use for publicity and/or promotional purposes pictures of me and my team participating in this event without obligation of liability to me.  I understand that as a recipient the work done on my property is performed by volunteers and will not hold them or Rake Up Eagle responsible for damage to personal property."
      </p>
    </div>
  </section>
{% endblock content %}
