{% extends 'app/pages/base.html' %}

{% load bootstrap4 %}

{% block title %}Confirmed!{% endblock title %}

{% block content %}
<section>
  <p class='lead'>
    Signup Confirmed
  </p>
</section>
<section class='my-5'>
  <p>
    Thanks for volunteering!  We will reach out to coordinate with you no later than November 7th.
  </p>
</section>
<section class='my-5'>
  <p>
    If you have any questions, please contact <a href='mailto://support@rakeupeagle.com'>support@rakeupeagle.com</a>.  Thank you!
  </p>
</section>

{% endblock content %}
