{% extends 'app/pages/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Thank You!{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Thank you!
  </section>
  <section class='my-5'>
    <p class='lead'>
      Note:
    </p>
    <ul class='list-styled'>
      <li>The event date is November 1, 2021</li>
      <li>We will coordinate with you before October 15</li>
      <li>Check-in takes place from 9-10 AM at Eagle Middle School</li>
      <li>We provide the bags; you need to bring rakes, gloves, etc.</li>
    </ul>
  </section>
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Volunteer Information</h4>
      </div>
      <div class="card-body">
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.name show_help=False show_label=False placeholder="Your Name" %}
            {% bootstrap_field form.email show_help=False show_label=False placeholder='Email' %}
            {% bootstrap_field form.phone show_help=False show_label=False placeholder='Cell Phone' %}
            {% bootstrap_field form.size show_help=True show_label=False  %}
            {% bootstrap_field form.notes show_help=False show_label=False %}
            {% buttons %}
              <button type="submit" class="btn btn-primary btn-lg btn-block" >
                Save
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>

      <div class='card-footer'>
        <p>
          <small class='text-muted'>Please contact <a href='mailto://support@rakeupeagle.com'>support@rakeupeagle.com</a> if you have any questions or need support.</small>
        </p>
      </div>
    </div>
  </section>

{% endblock content %}
