{% extends 'app/_base.html' %}

{% load humanize %}
{% load static %}

{% block styles %}
  {{block.super}}
  <style type="text/css" media='screen,print'>
    body{
      font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
    }
    section {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    li {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .card {
      margin: 50px;
    }
    .new-page{
            page-break-before: always;
        }
    .table-sm {
      font-size: 12px ;
    }
    .img-qr {
      height: 100px;
      width: 100px;
    }
  </style>
{% endblock styles %}

{% block header %}
{% endblock header %}

{% block title %}Handout for Recipient {{recipient.name}}{% endblock title %}

{% block content %}
  <section class='row'>
    <div class='col-6 ms-auto text-start'>
      <h3>
        Scan This Code When Starting
      </h3>
      <img src="{{recipient.assign_code.url}}" class='img-qr'></img>
    </div>
    <div class='col-6 me-auto text-end'>
      <h3>
        Scan This Code When Finished
      </h3>
      <img src="{{recipient.complete_code.url}}" class='img-qr'></img>
    </div>
  </section>
  <section>
    <table class='table table-borderless'>
      <tr>
        <th>
          <ul class='list-unstyled'>
            <li class='list-item'>Name: {{recipient.name}}</li>
            <li class='list-item'>Address: {{recipient.location}}</li>
            <li class='list-item'>Phone: {{recipient.phone.as_national}}</li>
          </ul>
        </th>
        <th class='text-end'>
          <ul class='list-unstyled'>
            <li class='list-item'>Size: {{recipient.get_size_display}}</li>
            <li class='list-item'>Veteran: {{recipient.is_veteran|yesno|upper}}</li>
          </ul>
        </th>
      </tr>
    </table>
  </section>
  <section>
    <h3>Instructions</h3>
    <ul class='list-styled'>
    <li>
      If you have any questions, needs, or concerns, please call or text <strong>(208) 510-0584</strong>.
    </li>
    <li>
      Please have the leader of group knock on the door so the recipient knows you have arrived.  <strong>Do not enter the home.</strong>  You are only giving them a heads up that your group has arrived.
    </li>
    <li>
      If they are a veteran (see above) please leave a yard-sign when done.
    </li>
    <li>
      Put all filled leaf bags at the end of the driveway (or in the normal garbage collection area.)
    </li>
    <li>
      Need more lawn bags?  Head back to EMS or call for a delivery.  Please note that someone over 18 has to be at the residence the entire time of raking.  <strong>Do not leave youth alone at the recipient's home.</strong>
    </li>
    <li>
      If you take any group photos, please send them to <a href='mailto://support@rakeupeagle.com'>support@rakeupeagle.com</a> so we put them in our EMS yearbook, Facebook page, and perhaps in Eagle Life Magazine!
    </li>
    <li>
      If the recipient has a dog it needs to remain inside.  If the recipient has not picked up the dog waste in the yard, <strong>YOU MUST NOTIFY US AND LEAVE</strong>.  We will give you a different assignment, but you can NOT pick up around waste.
    </li>
  </section>
  <section>
    <h3>Donations</h3>
    <p class=''>
      Donations are not expected, but if recipients insist they can send a check to Eagle Middle PTO, 1000 W. Floating Feather, Eagle ID 83616, or via Venmo: @Eagle-Middle
    </p>
  </section>
  <section>
    <p class='lead text-center'>
      Thank you for volunteering today &mdash; <em>there is so much good in the world!</em>
    </p>
  </section>

  <div class='new-page'>
  </div>
  <h2>
    Messages
  </h2>
  <table class='table table-sm'>
    <thead>
      <tr>
        <th>Date</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      {% for text in texts %}
        {% if text.get_direction_display == 'Inbound' %}
          <tr class='table-secondary'>
        {% else %}
          <tr class='table-light'>
        {% endif %}
          <td>{{text.created|date:"SHORT_DATETIME_FORMAT"}}</td>
          <td>{{text.body}}
        </tr>
      {% empty %}
        <tr>
          <td colspan=3>(No messages)</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}

{% block footer %}
{% endblock footer %}