{% extends 'app/_base.html' %}

{% load humanize %}
{% load static %}

{% block customstyles %}
  <style type="text/css" media='screen,print'>
    section {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    li {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .card {
      margin: 50px;
    }
    .new-page{
            page-break-before: always;
        }
  </style>

{% endblock customstyles %}

{% block topnav %}
{% endblock topnav %}

{% block title %}Team Handout for {{rake.team.name}}{% endblock title %}

{% block content %}
  <section>
    <h2>Rake Up Eagle Handout for {{rake.team.nickname}}</h2>
    <h3>Team Leader: {{rake.team.name}}</h3>
  </section>
  <section>
    <div class='card'>
      <h5 class='card-header'>
        Recipient Details
      </h5>
      <div class='card-body'>
        <div class='card-text'>
          <ul class='list-unstyled'>
            <li>Name: {{yard.recipient.name}}</li>
            <li>Veteran?: {{yard.recipient.is_veteran}}</li>
            <li>Address: {{yard.recipient.location}}</li>
            <li>Phone: {{yard.recipient.phone.as_national}}</li>
            <li>Size: {{yard.recipient.get_size_display}}</li>
            <li>Notes: {{yard.recipient.public_notes|default:"(No Notes Provided)"}}</li>
          </ul>
          {# <div class='img-fluid'> #}
            {# <img src={{mapurl}}> #}
          {# </div> #}
        </div>
      </div>
    </div>
  </section>
  <section>
    <h3>Instructions</h3>
    <ul class='list-styled'>
    <li>
      If you have any questions, needs, or concerns, please call <strong>(208) 713-4599</strong>.
    </li>
    <li>
      Please have the leader of group knock on the door so the recipient knows you have arrived.   <strong>Do not enter the home.</strong>  You are only giving them a heads up that your group has arrived.
    </li>
    <li>
      If they are a veteran (see above) please leave a flag when done.
    </li>
    <li>
      Put all filled leaf bags at the end of the driveway (or in the normal garbage collection area.)
    </li>
    <li>
      Need more lawn bags?   Head back to EMS or call for a delivery.    Please note that someone over 18 has to be at the residence the entire time of raking.  <strong>Do not leave youth alone at the recipient's home.</strong>
    </li>
    <li>
      If you take any group photos, please send them to <a href='mailto://support@rakeupeagle.com'>support@rakeupeagle.com</a> so we put them in our EMS yearbook, Facebook page, and perhaps in Eagle Life Magazine!
    </li>
    <li>
      If the recipient has a dog it needs to remain inside.  If the recipient has not picked up the dog waste in the yard, YOU MUST NOTIFY US AND LEAVE.  We will give you a different assignment, but you can NOT pick up around waste.
    </li>
  </section>
  <section>
    <h3>Donations</h3>
    <p>
      Donations are not expected, but if recipients insist they can send a check to Eagle Middle PTO, 1000 W. Floating Feather, Eagle ID 83616, or via Venmo: @Eagle-Middle
    </p>
  </section>
  <section>
    <p class='lead'>
      Thank you for volunteering today &mdash; <em>there is so much good in the world!</em>
    </p>
  </section>

{% endblock content %}

{% block bottomnav %}
{% endblock bottomnav %}